

.filtration {
    background-color: #191C24; 
    padding: 20px; 
    border: 1px solid #333;
    border-radius: 5px;
    color: #fff; 
    font-size: 16px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px; 
   
}
/* Style pour la classe .tt (paire d'étiquettes et de sélecteurs) */
.tt {
    display: flex; /* Utilisation de flexbox pour aligner les éléments en ligne */
    flex-direction: column; /* Les éléments sont empilés verticalement */
    margin-bottom: 20px;
    margin-right: 12px; /* Espacement entre chaque paire */
    width: 100%; /* Utiliser toute la largeur disponible */
}

/* Style pour les étiquettes (labels) */
.tt label {
    font-weight: bold; /* Texte en gras */
    margin-bottom: 5px; /* Espacement en bas */
}

/* Style pour les sélecteurs (selects) */
.tt select {
    background-color: #333; /* Fond sombre pour les sélecteurs */
    color: #fff; /* Couleur du texte en blanc */
    border: 1px solid #555; /* Bordure de 1 pixel solide en gris plus foncé */
    border-radius: 5px; /* Coins arrondis */
    padding: 5px; /* Espacement interne */
    min-width: 140px; /* Largeur minimale des sélecteurs pour éviter le rétrécissement excessif */
}

/* Style pour chaque label/select groupé */
.filtration label,
.filtration select {
    margin-right: 10px;
    align-self: flex-start;
    font-weight: bold; /* Marge entre les labels et les selects */
}

/* Ajouter une marge à gauche pour le premier label */
.filtration label:first-child {
    margin-left: 0;
}
.filtration select {
    background-color: #333; /* Fond sombre pour les sélecteurs */
    color: #fff; /* Couleur du texte en blanc */
    border: 1px solid #555; /* Bordure de 1 pixel solide en gris plus foncé */
    border-radius: 5px; /* Coins arrondis */
    padding: 5px; /* Espacement interne */
    margin-right: 10px; /* Espacement à droite entre les sélecteurs */
    margin-bottom: 10px; /* Espacement en bas entre les sélecteurs */
    min-width: 150px; /* Largeur minimale des sélecteurs pour éviter le rétrécissement excessif */
}


.home-content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 50px;
}
.box_commande {
    margin-left: 410px;
    background-color: #191C24;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto; /* Centre le tableau horizontalement */
    max-width: 100%; /* Empêche le tableau de dépasser la largeur de la boîte */
    overflow: auto; /* Ajoute une barre de défilement horizontale si le tableau est trop large */
}
.box_commande td button {
    display: block;
    margin: 0 auto;
}

/* Style pour le tableau */
#myDataTable {
    width: 100%; /* Utilise 100% de la largeur de la boîte parente */
    border-collapse: collapse; /* Fusionne les bordures des cellules */
    color: #fff;
     /* Couleur du texte */
}
/* Personnalisation du champ "Show" de DataTables */
#myDataTable_length {
  
    padding: 10px; /* Espace intérieur */
}

/* Style du champ "Show" de DataTables */
#myDataTable_length label {
    color: #fff; /* Couleur du texte en blanc */
    font-weight: bold; /* Texte en gras */
    margin-right:10px;
  
     /* Marge à droite pour l'espacement */
}

/* Style du menu déroulant de sélection dans le champ "Show" */
#myDataTable_length select {
    background-color: #333; /* Fond du menu sombre */
    color: #fff; /* Couleur du texte en blanc */
    border: 1px solid #777; /* Bordure grise */
    border-radius: 5px; /* Coins arrondis */
    padding: 5px; /* Espace intérieur */
    width: 60px; /* Largeur du menu déroulant */
}

#myDataTable_filter {
  
    padding: 10px; /* Espace intérieur */
}
#myDataTable_filter input[type="search"] {
    background-color: #333; /* Fond du champ de recherche sombre */
    color: #fff; /* Couleur du texte en blanc */
    border: 1px solid #777; /* Bordure grise */
    border-radius: 5px; /* Coins arrondis */
    padding: 5px; /* Espace intérieur */
    width: 200px; /* Largeur du champ de recherche */
    margin-right: 10px; /* Marge à droite pour l'espacement */
}
#myDataTable_filter label {
    color: #fff; /* Couleur du texte en blanc */
    font-weight: bold; /* Texte en gras */
    margin-right: 5px; /* Marge à droite pour l'espacement */
}

/* Style pour l'en-tête du tableau */
#myDataTable thead {
    background-color: #222; /* Fond sombre pour l'en-tête */
    color: #007bff; /* Couleur du texte en blanc */
}
/* Style pour les cellules de l'en-tête */
#myDataTable th {
    padding: 10px;
}

/* Style pour les lignes du tableau */
#myDataTable tbody tr {
    background-color: black; /* Couleur de fond des lignes */
    transition: background-color 0.3s; /* Animation de transition */
}

/* Style pour les cellules du tableau */
#myDataTable td {
    padding: 10px;
}
#myDataTable th,
#myDataTable td {
    width: calc(100% / 11); /* Répartit également la largeur sur les 11 colonnes */
    white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
    overflow: hidden; /* Masque le texte dépassant de la colonne */
    text-overflow: ellipsis; /* Affiche "..." pour le texte coupé */
}
/* Définir une largeur fixe pour toutes les colonnes de la table */
/* Style pour la colonne "Modifier" et "Supprimer" dans l'en-tête du tableau */
#myDataTable th:nth-child(10),
#myDataTable th:nth-child(11) {
    width: 30px; /* Largeur réduite pour ces colonnes */
    white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
}

/* Style pour la colonne "Modifier" et "Supprimer" dans les cellules du tableau */
#myDataTable td:nth-child(10),
#myDataTable td:nth-child(11) {
    width: 30px; /* Largeur réduite pour ces colonnes */
    white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
}
/* Style pour le bouton "Supprimer" */
#myDataTable .trash button {
    width: auto; /* Supprime la largeur spécifique du bouton */
    height: auto; /* Supprime la hauteur spécifique du bouton */
    background-color: transparent; /* Supprime la couleur de fond */
    border: none; /* Supprime les bordures */
    color: #ff0019; /* Couleur du texte */
    cursor: pointer;
    padding: 0; /* Supprime le rembourrage */
}
#myDataTable tbody td:nth-child(10) {
    text-align: center; /* Centrer horizontalement */
    vertical-align: middle; /* Centrer verticalement */
}
/* Style pour les liens "Modifier" */
#myDataTable td a {
    color: #007bff;
    text-decoration: none;
}

/* Style pour l'icône "Modifier" */
#myDataTable td a i {
    font-size: 20px;
    margin-right: 5px;
    color: red;
}

/* Style pour le bouton "Supprimer" */
#myDataTable .trash button {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    padding: 0;
}

/* Style pour l'icône "Supprimer" */
#myDataTable .trash button i {
    font-size: 20px;
}

/* Hover sur les lignes du tableau */
#myDataTable tbody tr:hover {
    background-color: #555; /* Couleur de fond lorsqu'on survole */
}
/* Style pour les boutons */
.buttons {
    text-align: right;
    margin-bottom: 20px;
    margin-top: 9%;
}
.box-add3 {
    border: 1px solid;
    position: absolute;
    max-height: 60%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    left: 45%;
    top: -55%;
    background: #191C24;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    visibility: hidden;
  transition: transform 0.3s,top 0.4s ;
}
.open{
    top: 34%;
 
    visibility: visible;
    position: absolute;
 
    z-index: 1000; /* Assurez-vous que le popup est au-dessus du reste du contenu */
    background-color: #1e1e1e; /* Fond sombre */
    color: #ffffff; /* Texte en blanc */
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
    }
    .entete_facture {
        background-color: #1e1e1e; /* Fond sombre */
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        overflow: auto;
    }
    
    /* Style pour les étiquettes (labels) */
    .box-add3 label {
        color: #fff; /* Couleur du texte en blanc */
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }
    
    /* Style pour les sélecteurs (selects) */
    .box-add3 select {
        background-color: #333; /* Fond sombre pour les sélecteurs */
        color: #fff; /* Couleur du texte en blanc */
        border: 1px solid #555; /* Bordure de 1 pixel solide en gris plus foncé */
        border-radius: 5px; /* Coins arrondis */
        padding: 5px; /* Espacement interne */
        min-width: 150px; /* Largeur minimale des sélecteurs pour éviter le rétrécissement excessif */
    }
    .box-add3 input {
        background-color: #333; /* Fond sombre pour les sélecteurs */
        color: #fff; /* Couleur du texte en blanc */
        border: 1px solid #555; /* Bordure de 1 pixel solide en gris plus foncé */
        border-radius: 5px; /* Coins arrondis */
        padding: 5px; /* Espacement interne */
        min-width: 150px; /* Largeur minimale des sélecteurs pour éviter le rétrécissement excessif */
    }
    
    /* Style pour les tableaux (tables) */
    .box-add3 table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    
    }
    
    /* Style pour les cellules (th et td) du tableau */
    .box-add3 th, .box-add3 td {
        padding: 10px;
        text-align: center;
        background-color: black;
    }
    
    /* Style pour le bouton "Add" */
    .box-add3 .add_facture_button {
        background-color: #FD6500; /* Couleur de fond bleue pour le bouton */
        color: #fff; /* Couleur du texte en blanc */
        border: none;
        border-radius: 5px; /* Coins arrondis */
        padding: 5px 10px;
        cursor: pointer;
        margin-top: 10px;
    }
    
    /* Style pour le pied de tableau (tfoot) */
    .box-add3 tfoot td {
        font-weight: bold;
    }
    
    /* Style pour le conteneur de montant payé */
    #paid_amount_container {
        margin-top: 20px;
    }
    
    /* Style pour le bouton de soumission */
    .box-add3 button[type="submit"] {
        background-color: #FD6500; /* Couleur de fond bleue pour le bouton de soumission */
        color: #fff; /* Couleur du texte en blanc */
        border: none;
        border-radius: 5px; /* Coins arrondis */
        padding: 10px 20px;
        cursor: pointer;
        margin-top: 20px;
    }
    
    .popup h2,
.popup label,
.popup input,
.popup select,
.popup button,
.popup .alert {
    color: #ffffff;
}

#closePopupButton {
    position: absolute;
    top: 5px;
    right: 0px;
    background: transparent;
    width: auto; /* Supprime la largeur spécifique du bouton */
    height: auto; /* Supprime la hauteur spécifique du bouton */
    cursor: pointer;
    font-size: 22px;
    color: #ffffff;
    border: none;
}

/* Vous pouvez également ajouter des styles pour le bouton au survol */
#closePopupButton:hover {
    font-size: 18px;
    color: #ff0000; /* Par exemple, rouge au survol */
}
.btn-add{
    background-color: #FD6500;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius:5px ;
    margin-left: 45%;
    transition: All .3s ease;
}
.center-button {
    text-align: center; /* Centre le contenu horizontalement dans la cellule */
}
.buttons {
    display: flex;
    justify-content: flex-start; 
    margin-bottom: 20px;
    margin-top: 9%;
}
























.remove-facture-button {
background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: -5%;
    background-image: url(../../model/updatecommande.php);
}

.remove-facture-button:hover {
    background-color: #e65757;
}

.facture {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.facture_design {
    display: flex;
    flex-direction: column;
}

.entete_facture {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.entete_facture label,
.body_form label {
    font-weight: bold;
}

.body_form {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: black;
    font-weight: bold;
}



#paid_amount_container {
    display: none;
    margin-top: 10px;
}

#paid_amount_container label,
#paid_amount_container input {
    display: block;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive layout */
@media (max-width: 768px) {
    .entete_facture {
        flex-direction: column;
    }

    .right {
        margin-top: 10px;
    }

    .body_form table {
        font-size: 14px;
    }
}

#paid_amount_container {
    display: none;
    margin-top: 10px;
}

#paid_amount_container label {
    display: block;
    margin-bottom: 5px;
}

#paid_amount_container input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*FOr the table display*/



.box .trash button {
    background-color: red;
    border: none;
    cursor: pointer;
}

.box .trash button:hover {
    color: gray;
}

/* Responsive layout */
@media (max-width: 768px) {
    .box_commande {
        font-size: 14px;
    }

    .box .bx {
        font-size: 16px;
    }
}
/* Appliquer le style aux boutons désactivés */
.disabled-button {
    background-color: #ccc !important; 
    color: #666 !important; 
    cursor: not-allowed; /* Curseur en forme de "interdit" */
    pointer-events: none;
 
}
/* Style pour le popup */
.popup {
    display: none;
    position: fixed;
    top: 50%; /* Position verticale au milieu de l'écran */
    left: 50%; /* Position horizontale au milieu de l'écran */
    transform: translate(-50%, -50%); /* Centre le popup par rapport à son propre centre */
    width: 80%; /* Largeur du popup */
    max-width: 600px; /* Largeur maximale du popup */
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    z-index: 1000;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

  .popup-content {
    background-color: #191C24;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    overflow: auto;
    position: relative;
    overflow: auto;
}
  
  .close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #888;
    cursor: pointer;
  }
  
  .popup h2 {
    margin-top: 0;
  }
  .command-details {
    margin-top: 20px;
 padding-left: 14%;
 padding-top: 10px; /* Espacement supérieur */
 padding-bottom: 10px; /* Espacement supérieur */
 padding-right: 10px; /* Espacement supérieur */

    background-color: black; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    border-radius: 5px; 
    overflow: auto;
}



.command-details h3 {
    font-size: 18px; /* Taille de police */
    margin-bottom: 10px; /* Espacement inférieur */
}

/* Style pour les informations de détails de commande */
.command-details p {
    margin-bottom: 5px; /* Espacement inférieur entre les paragraphes */
}
  
/* Style pour le conteneur des boutons */
.buttonsActions {
    display: flex; /* Utilisation de flexbox pour aligner horizontalement */
    justify-content: center; /* Centre les éléments horizontalement */
    margin-top: 20px; /* Marge supérieure pour espacer les boutons du contenu supérieur */
}

/* Style pour les boutons */
.confirm-button,
.cancel-button {
    padding: 10px 20px; /* Espacement interne pour les boutons */
    margin: 0 10px; /* Marge entre les boutons */
    background-color: #007bff; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    border: none; /* Supprime la bordure du bouton */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer;
    transition: background-color 0.3s; /* Animation de transition pour la couleur de fond */
}

/* Style pour les boutons désactivés */
.cancel-button.disabled-button {
    background-color: #ccc; /* Couleur de fond grise pour les boutons désactivés */
    cursor: not-allowed; /* Curseur non autorisé pour les boutons désactivés */
}

/* Hover sur les boutons */
.confirm-button:hover,
.cancel-button:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
}

  /* Style pour le tableau des détails de la commande */
.details-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

/* Style pour les cellules (th et td) du tableau */
.details-table th, .details-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd; /* Bordures légères */
}

/* Style pour le bouton de fermeture */
#closeProductDetailsPopup {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Hover sur le bouton de fermeture */
#closeProductDetailsPopup:hover {
    background-color: #0056b3;
}