.home-content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 50px;
}
.box-user {
    margin-left: 3%; /* Supprime la marge gauche fixe */
    background-color: #191C24;
    border-radius: 5px;
    padding: 10px; /* Réduit la marge intérieure */
    max-width: 95%; /* Réduit la largeur maximale */
    overflow: auto;
    text-align: center; /* Centre le contenu horizontalement */
}

.box-user td button {
    display: block;
    margin: 0 auto;
}

/* Style pour le tableau */
#myDataTable {
    width: 100%; /* Utilise 100% de la largeur de la boîte parente */
    border-collapse: collapse; /* Fusionne les bordures des cellules */
    color: #fff;
     /* Couleur du texte */
}
/* Personnalisation du champ "Show" de DataTables */
#myDataTable_length {
  
    padding: 10px; /* Espace intérieur */
}

/* Style du champ "Show" de DataTables */
#myDataTable_length label {
    color: #fff; /* Couleur du texte en blanc */
    font-weight: bold; /* Texte en gras */
    margin-right:10px;
  
     /* Marge à droite pour l'espacement */
}

/* Style du menu déroulant de sélection dans le champ "Show" */
#myDataTable_length select {
    background-color: #333; /* Fond du menu sombre */
    color: #fff; /* Couleur du texte en blanc */
    border: 1px solid #777; /* Bordure grise */
    border-radius: 5px; /* Coins arrondis */
    padding: 5px; /* Espace intérieur */
    width: 60px; /* Largeur du menu déroulant */
}

#myDataTable_filter {
  
    padding: 10px; /* Espace intérieur */
}
#myDataTable_filter input[type="search"] {
    background-color: #333; /* Fond du champ de recherche sombre */
    color: #fff; /* Couleur du texte en blanc */
    border: 1px solid #777; /* Bordure grise */
    border-radius: 5px; /* Coins arrondis */
    padding: 5px; /* Espace intérieur */
    width: 200px; /* Largeur du champ de recherche */
    margin-right: 10px; /* Marge à droite pour l'espacement */
}
#myDataTable_filter label {
    color: #fff; /* Couleur du texte en blanc */
    font-weight: bold; /* Texte en gras */
    margin-right: 5px; /* Marge à droite pour l'espacement */
}

/* Style pour l'en-tête du tableau */
#myDataTable thead {
    background-color: #222; /* Fond sombre pour l'en-tête */
    color: #007bff; /* Couleur du texte en blanc */
}
/* Style pour les cellules de l'en-tête */
#myDataTable th {
    padding: 10px;
}

/* Style pour les lignes du tableau */
#myDataTable tbody tr {
    background-color: black; /* Couleur de fond des lignes */
    transition: background-color 0.3s; /* Animation de transition */
}

/* Style pour les cellules du tableau */
#myDataTable td {
    padding: 10px;
}
#myDataTable th,
#myDataTable td {
    width: calc(100% / 8); /* Répartit également la largeur sur les 11 colonnes */
    white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
    overflow: hidden; /* Masque le texte dépassant de la colonne */
    text-overflow: ellipsis; /* Affiche "..." pour le texte coupé */
}
/* Définir une largeur fixe pour toutes les colonnes de la table */
/* Style pour la colonne "Modifier" et "Supprimer" dans l'en-tête du tableau */
#myDataTable th:nth-child(7),
#myDataTable th:nth-child(8) {
    width: 30px; /* Largeur réduite pour ces colonnes */
    white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
}

/* Style pour la colonne "Modifier" et "Supprimer" dans les cellules du tableau */
#myDataTable td:nth-child(7),
#myDataTable td:nth-child(8) {
    width: 30px; /* Largeur réduite pour ces colonnes */
    white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
}
/* Style pour le bouton "Supprimer" */
#myDataTable .trash button {
    width: auto; /* Supprime la largeur spécifique du bouton */
    height: auto; /* Supprime la hauteur spécifique du bouton */
    background-color: transparent; /* Supprime la couleur de fond */
    border: none; /* Supprime les bordures */
    color: #ff0019; /* Couleur du texte */
    cursor: pointer;
    padding: 0; /* Supprime le rembourrage */
}
#myDataTable tbody td:nth-child(7) {
    text-align: center; /* Centrer horizontalement */
    vertical-align: middle; /* Centrer verticalement */
}
/* Style pour les liens "Modifier" */
#myDataTable td a {
    color: #007bff;
    text-decoration: none;
}

/* Style pour l'icône "Modifier" */
#myDataTable td a i {
    font-size: 20px;
    margin-right: 5px;
    color: red;
}

/* Style pour le bouton "Supprimer" */
#myDataTable .trash button {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    padding: 0;
}

/* Style pour l'icône "Supprimer" */
#myDataTable .trash button i {
    font-size: 23px;
}

/* Hover sur les lignes du tableau */
#myDataTable tbody tr:hover {
    background-color: #555; /* Couleur de fond lorsqu'on survole */
}
/* Style pour les boutons */
.buttons {
    display: flex;
    justify-content: flex;
    text-align: right;
    margin-top: 8%;
}
#closePopupButton {
    position: absolute;
    border: none;
    top: 5px;
    right: 0px;
    background: transparent;
    width: auto; /* Supprime la largeur spécifique du bouton */
    height: auto; /* Supprime la hauteur spécifique du bouton */
    cursor: pointer;
    font-size: 22px;
    color: #ffffff;
}

/* Vous pouvez également ajouter des styles pour le bouton au survol */
#closePopupButton:hover {
    font-size: 18px;
    color: #ff0000; /* Par exemple, rouge au survol */
}
.box-add3 {
    border: 1px solid;
    position: absolute;
    width: 350px;
    max-width: 400px; /* Définit une largeur maximale pour le formulaire */
    margin: 0 auto; 
    max-height: 70%;/* Centre le formulaire horizontalement */
    padding: 20px;
    background-color: #1e1e1e; /* Couleur de fond */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Ombre légère */
    overflow-y: auto;
    left: 35%;
    top: -65%;
  



    visibility: visible;
  transition: transform 0.3s,top 0.4s ;
}
.open{
    top: 14%;
    visibility: visible;
    position: absolute;
    z-index: 1000; /* Assurez-vous que le popup est au-dessus du reste du contenu */
    background-color: #1e1e1e; /* Fond sombre */
    color: #ffffff; /* Texte en blanc */
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   
    
    }

    
    label,
    input,
    select {
        display: block;
        margin-bottom: 10px;
    }
    
    input,
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    
    input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }
    
    input[type="submit"]:hover {
        background-color: #0056b3;
    }